.hero-area
{
    tab-size: 4;
    line-height: inherit;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #727272;
    font-size: 15px;
    cursor: auto;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
    margin: 0;
    position: relative;
    background-color: #fff;
    background-image: url("/assets/ponybg.PNG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 110px 0 120px 0;
}

.container
{
    tab-size: 4;
    line-height: inherit;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #727272;
    font-size: 15px;
    cursor: auto;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 16px;
    padding-left: 16px;
    max-width: 720px;
}

.row
{
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    --thumb-width: 15;
    line-height: inherit;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #727272;
    font-size: 15px;
    cursor: auto;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
    margin: 0;
    padding: 0;
}

.wow-animated
{
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    --thumb-width: 15;
    line-height: inherit;
    font-style: normal;
    cursor: auto;
    text-align: center;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(71, 197, 247, 0.788);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    margin: 0px;
    font-family: 'Barlow', sans-serif;
    animation-duration: 1s;
    animation-fill-mode: both;
    color: #fff;
    font-weight: 500;
    display: inline-block;
    background: #ffffff24;
    padding: 13px 22px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px #00000005;
    font-size: 15px;
    margin-bottom: 12px;
    visibility: visible;
    animation-delay: 0.2s;
}
.wow-h2
{
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    --thumb-width: 15;
    font-style: normal;
    cursor: auto;
    text-align: center;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(71, 197, 247, 0.788);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    animation-name: fadeInUp;
    font-weight: 700;
    color: #fff;
    margin: 0px 0 18px;
    text-transform: capitalize;
    overflow: hidden;
    font-size: 30px;
    line-height: 40px;
    visibility: visible;
    animation-delay: 0.4s;
}

.wow
{
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    --thumb-width: 15;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    cursor: auto;
    text-align: center;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(71, 197, 247, 0.788);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    padding: 0;
    animation-name: fadeInUp;
    font-weight: 400;
    color: #fff;
    margin: 18px 0;
    font-size: 15px;
    line-height: 26px;
    visibility: visible;
    animation-delay: 0.6s;
}

.button-wow
{
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    --thumb-width: 15;
    line-height: inherit;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #727272;
    font-size: 15px;
    cursor: auto;
    text-align: center;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(71, 197, 247, 0.788);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    margin: 0;
    padding: 0;
    animation-name: fadeInUp;
    margin-left: 0 !important;
    margin-top: 10px !important;
    width: 100%;
    visibility: visible;
    animation-delay: 0.8s;
}

.btn
{
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    --thumb-width: 15;
    line-height: inherit;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    text-align: center;
    visibility: visible;
    box-sizing: border-box;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(71, 197, 247, 0.788);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    text-decoration: none;
    display: inline-block;
    text-transform: capitalize;
    border: none;
    transition: all 0.3s ease;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0px 4px 7px #00000021;
    padding: 14px 25px;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    background-color: #27b5f7;
    color: #fff;
}