<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
<link rel="stylesheet" href="/css/style.css">
</head>
<footer class="site-footer"><h1>Check out below!</h1><p class="mb-0"></p><div class="social-links">
</a></div><p>Created by a student of UOL Computer Science. Copyright all belongs to me @ 2024.</p>
</footer>
</html> 
    
    
    
    
    
    
    
    
    
    
    
    
    