<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/user-nav.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/author/author-settings">Settings</a></li>
        <li><a href="/author/create-post">Create Posts</a></li>
        <li><a href="/author/author-home">Home</a></li>
        <li><a href ="/">Main Page</a></li>
        <li><a href="/common/user-profile">Profile</a></li>
        <li><a href="/common/logout">Logout</a></li>
      </ul>
    </nav>
  </header>
</body>
</html>