<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
</body>


<footer class="site__footer">

    <!-- site__footer-layout -->
    <div class="site__footer-layout">

        <!-- menu -->
        <nav class="menu_footer">

            <!-- menu__layout -->
            <ul class="menu__layout">

                
            </ul>
            <!-- /menu__layout -->

        </nav>
        <!-- menu -->

        <!-- logo -->
        <div class="logo_footer">
                            <a href="https://ponyvilleciderfest.com" title="Home Page">
                    <img src="assets/logo_updated.png" class="logo">
                </a>
                        <p>©2024 Tan Yee Chong (Blogging Tool Coursework)</p>
        </div>
        <!-- /logo -->

    </div>
    <!-- /site__footer-layout -->

</footer>
    
</html>