<html>
<head>
<link rel="stylesheet" href="/css/nav.css">
</head>

<div class="promo-bar" style="background-color: rgb(247, 247, 247);" data-alternative-color="true">
      
        <a href="/pages/ginlee-circle" class="link">
          <span class="text">Get 100 bonus points when you join GINLEE Circle</span>
        </a>
      
      <div class="close" onclick="closePromo()">✕</div>
</div>
<div class="navbar">

  <a href="#" class="active">Home</a>
  <a href="about.html">About Me</a>
  <a href="#">Tickets</a>
  <a href="#">Premeet</a>
  <a href="#">What's On</a>
  <a href="#">Code of Conduct</a>
  <a href="#">Contact Us</a>
  <a href="#">Volunteer</a>
</div>
<script>
function closePromo() {
    var promo = document.querySelector('.promo-bar');
    promo.style.display = 'none';
}    
    
</script>
</html>