<html>
<head>
<link rel="stylesheet" href="/css/nav.css">
</head>
<div class="navbar">

  <a href="/DashBoard" class="active">Home</a>
  <a href="/about">About Me</a>
  <a href="/author/author-home"> Author Home</a>
  <a href="/common/user-profile">Profile</a>
  <a href="/common/logout">Log Out</a>
</div>
</html>