<html>
<head>
<link rel="stylesheet" href="/css/about.css"> 
<title> <%= title %> </title>  
<%- include('./partials/header'); %>  
</head>
<body>
<div id="content" class="page-wrap">
		<div class="content-wrapper">
			<div class="row">	
	<div id="primary" class="fp-content-area">
		<main id="main" class="site-main" role="main">
            <div class="text-container">
<div class="entry-content">
									
<h1 class="wp-block-heading"><strong>About me (Developer of CuteBlog)</strong></h1>



<p class="text">Welcome to CuteBlog! This is the place where users can connect and share posts about everything, anything they desire!</p>



<p class="text">I am currently a student in SIM-UOL studying Computer Science Degree and this is my mid-terms application coursework for the module CM2040.</p>



<p class="text">This is my take of the Mini Blogging tool mid-terms. The slogan is "Where cuteness meets Blogging.".</p>

<img src="/assets/AdleyPFP.png">

<p class="text" style="text-align: center;">CuteBlog is currently in early stages of development.</p>

<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>

            </div>
        </main>
                </div>
            </div>
    </div>
    </div>
</div>
    </body>
    <%- include('./partials/footer'); %>   
</html>
