<!-- access-denied.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Access Denied</title>
  <link rel="stylesheet" href="/css/AccessDenied.css">
  <%- include('./partials/header'); %>
</head>
<body>
  <div class="container">
    <div class="content">
      <h1>Access Denied</h1>
      <p>Oops! It seems like you don't have permission to access this page.</p>
      <img src="/assets/sadcat.png" alt="Cute Cat Image">
      <br>
      <br>
      <button class="Return"><a href="/Dashboard">Return to Home Page</a></button>
    </div>
  </div>
</body>
</html>