<html>

<head>
<title> <%= title %> </title> 
<link rel="stylesheet" href="/css/login.css">
</head>
<body>
<h1>Login Page</h1>
<section class="login-page">
            <div class="section-header">
                <h2>Login to Cute Blog Here!</h2>
                <p><strong>The place where cuteness meets Blogging!</strong></p>
            </div>
            <div class="section-body">
                <div class="image-container">
                    <img src="/assets/Mascot.png" class="Mascot" alt="Image" style="padding: 10px;">
                </div>
                <form method="POST" id="username-form" action="/login-process">
                  <div class="login-recovery"><strong>Username/Email</strong></div>
                  <input class="textbox" type="text" name="input" value="" id="input" size="30" placeholder="Username/Email">
                <div class="login-recovery"><strong>Password</strong></div><input class="textbox" type="password" name="password" size="30" placeholder = "Password here (e.g.password123)" id="password">
                <br>
                <div class="alignleft">
                    <input type="submit" class="button" name="login" id="login-button" value="Login">
               <p>New to CuteBlog? Register <a href="/register" style="text-decoration: none; color: #ff6347;">here</a>!</p>
                </div>
              </form>
            </div>

        </section>
</form>
</body>
<br>
<br>
<br>
<footer>  
<%- include('./partials/footer'); %>   
</footer>
</html>