<html>
<head>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<section class="hero-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-12 col-12">
                    <div class="hero-content">
                        <h5 class="wow-animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s;">Main Landing Page</h5>
                        <h2 class="wow-h2" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s;">Welcome to the world of CuteBlog!</h2>
                        <p class="wow" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s;">&nbsp;Choose where you would like to head to by pressing the buttons below!</p>
						<div class="button-wow" data-wow-delay=".8s" style="visibility: visible; animation-delay: 0.8s;">
							<a href="/author/author-home" class="btn ">Author Home Page</a>
				</div>
				<div class="button-wow" data-wow-delay=".8s" style="visibility: visible; animation-delay: 0.8s;">
					<a href="/DashBoard" class="btn ">Reader Home Page</a>
		</div>
                </div>
            </div>
        </div>
    </section>



</body>
<footer>  
	<%- include('./partials/footer'); %>   
	</footer>
</html>