<html>
<head>
<link rel="stylesheet" href="../css/register.css">
<%- include('./partials/metadata'); %>   
</head>
<body>
<section class="login-page">
    <div class="section-header">
        <h2 class="header-title">Account Registration</h2>
    </div>
    <br>
    <div class="section-body">
        <div id="page-register">
            <div id="part-pick-username">
                <form method="post" id="username-form" action="/register-process">
                    <input type="hidden" name="send" value="send">

                    <ol id="errors" class="alignleft error hidden"></ol>
                    <div class="p10b">
                        <div class="inline alignright" style="width:170px"><strong>Username:</strong></div> <input type="text" class="textbox" style="width:300px" name="username" id="Username" value="" maxlength="150" autocomplete="off" fdprocessedid="co5bqp" required>
                    </div>
                    <% if (typeof usernameError !== 'undefined') { %>
                      <p class="error-message" id="username-error"><%= usernameError %></p>
                  <% } %>
                    <div class="p10b">
                      <div class="inline alignright" style="width:170px"><strong>Email:</strong></div> <input type="text" class="textbox" style="width:300px" name="email" id="Username" value="" maxlength="150" autocomplete="off" fdprocessedid="co5bqp" required>
                    </div>
                    <div class="p10b">
                     <div class="inline alignright" style="width:170px"><strong>Password:</strong></div> <input type="password" class="textbox" style="width:300px" name="password" id="password" value="" maxlength="150" autocomplete="off" fdprocessedid="jc7hf">
                    <br>
                    <p class="error-message" style="margin-bottom: 10px;"></p>
                    <br>
                    <p class="error-message" id="username-error" style="margin-bottom: 10px;"></p>
                    <br>
                    <p class="error-message" id="Email-Error"></p>
                    </div>
                    <br>
                    <p class="login-prompt"><bold>Already have an account? Login</bold> <a href = "/login" style="text-decoration: none; color: #ff6347;">here!</a>
                    <div class="alignright">
                        <input class="button" type="submit" name="proceed" id="proceed" value="Proceed with account creation.">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
    
<script>
  const passwordInput = document.getElementById("password");
  const errorMessage = document.querySelector(".error-message");
  const submitButton = document.getElementById("proceed");
  const UsernameInput = document.getElementById("Username");
  const errorMessage2 = document.getElementById("username-error");

  passwordInput.addEventListener("input", () => {
    if (passwordInput.value.length < 8 && passwordInput.value.length > 0 ) {
      errorMessage.textContent = "Password too short. Password must be at least 8 characters.";
      submitButton.disabled = true;
    } else {
      errorMessage.textContent = "";
      submitButton.disabled = false;
    }
  });
    
  UsernameInput.addEventListener("input", () => {
    if (UsernameInput.value.length < 5 && UsernameInput.value.length > 0 ) {
      errorMessage2.textContent = "Username must be at least 5 characters.";
      submitButton.disabled = true;
    } else {
      errorMessage2.textContent = "";
      submitButton.disabled = false;
    }
  });
    
    


    </script>
    </body>
</html>